@import '~normalize-scss/sass/_normalize.scss';
@import '~swiper/dist/css/swiper.css';
@import '~jquery.mmenu/dist/jquery.mmenu.css';
@import '~fotorama/fotorama.css';
@import './normalize.scss';
@import './hamburger.scss';

/*===============================
=            general            =
===============================*/


.hide{
display:none;
}
.mm-menu {
  display: none;
}
.on-top {
  display: block;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  background: #fcfcfc;
  border-radius: 5px;
  &:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 15px;
    width: 0;
    height: 0;
    border: 10px solid #f25c4b;
    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: rotate(45deg);
  }
}
$font: 'Roboto', sans-serif;

* {
  outline: none;
}

*[lang="en-us"] {
  display: none;
}

body {
  font-family: $font;
}

.hide {
  display: none;
}

.language-switcher {
    position: fixed;
    right: 60px;
    top: 49px;
    z-index: 9999;
    display: block;
    font-family: $font;
    font-size: 36px;
    float: right;
    cursor: pointer;

    div[data-lang="ru-ru"] {
      display: none;
    }
}

#mmenu-icon {
  position: fixed;
  right: 100px;
  top: 35px;
  z-index: 9999;
  display: none;
}

.wrapper {
  margin: 0 auto;
  width: 1170px;
}

.clearfix {
  &:after,
  &:before {
    content: "";
    display: table;
    clear: both;
  }
}

.square {
  width: 10px;
  height: 10px;
  background-color: #e45847;
  display: inline-block;
  margin: 0px 0px 0 10px;
}

.title {
  &__info {
    text-transform: uppercase;
    color: #818896;
    font-family: $font;
    font-weight: bold;
    font-size: 16px;
  }
  &__header {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 65px;
    line-height: 70px;
    color: #2f343d;
    text-transform: capitalize;
  }
  &__block {
    margin-left: 5px;
    margin-bottom: 45px;
    font-size: 0;
    width: 50px;
    height: 2px;
    background: red;
  }
}

/*=====  End of general  ======*/
.hero-video{
  width:100%;
  height: auto;
 
  object-fit: cover;
  position: absolute;
}


.nav {
  position: relative;
  &__logo {
    padding-top: 50px;
    padding-bottom: 50px;
    float: left;
    display: inline-block;
    & img {
      position: relative;
      z-index: 999;
    }
  }
  &__right {
    font-size: 0;
    float: right;
    width: 720px;
  }
  &__list {
    padding: 0;
    margin: 0;
    padding-top: 45px;
    margin-left: 0px;
    width: 530px;
    float: left;
    font-size: 16px;
    font-family: $font;
    font-weight: bold;
    &-item {
      padding-right: 8px;
      padding-top: 20px;
      display: inline-block;
      a {
        font-size: 16px;
        color: #474a51;
        text-decoration: none;
        text-transform: uppercase;
        &:hover,
        &:active {
          color: #e45847;
        }
      }
    }
  }
  &__tel {
    float: right;
    width: 185px;
    padding-top: 50px;
    position: relative;
    img {
      margin-left: 5px;
      float: left;
    }
    a {
      position: absolute;
      left: 65px;
      top: 65px;
      width: 165px;
      font-weight: bold;
      float: left;
      font-size: 16px;
      color: #474a51;
      text-decoration: none;
    }
  }
}

.gallery {
  height: 38vw;
  display: table;
  width: 100%;
  // border:2px solid #ff00ff;
  box-sizing: border-box;
  // Закоменченый вариант с баннером вместо видео
  // height: 750px;
  // background-image: url("/static/img/img-1.jpg");
  // background-size: cover;
  // background-position-x: center;

  &__project {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 38px;
    line-height: 32px;
    color: #fff;
    text-shadow: 0 0 3px #000;
    height: -webkit-fill-available;
  }

  &__project > p {
      font-size: 14px;
      display: inline-block;
  }
  &__title {
    text-transform: capitalize;
    line-height: 57px;
    font-size: 1.5em;
    margin: 0;
  }
  &__btn {
    display: inline-block;
    text-shadow: 0 0 0 #000;
    line-height: 56px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    background: #e45847;
    padding: 0 12px;
  }
}

.our__mission {
  padding-top: 110px;
  padding-bottom: 40px;
  margin: 20px 0;
  &-img {
    object-fit: cover;
  }
  &-left {
    width: 585px;
    float: left;
    position: relative;
  }
  &-buro {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
  }
  &-autor {
    text-transform: capitalize;
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &-desc {
    position: absolute;
    left: 104px;
    top:  70%;
    padding: 27px 64px;
    padding-bottom: 35px;
    margin-right: 12px;
    background: #e45847;
    color: #fff;
    & p {
      margin-top: 14px;
    }
  }
  &-right {
    width: 470px;
    float: right;
    p {
      font-weight: bold;
      margin-bottom: 25px;
      font-size: 17px;
      line-height: 25px;
    }
  }
}

.project {
  padding-top: 140px;
  padding-bottom: 200px;
  background: #f2f2f2;
  position: relative;

  &#videos {
    padding-bottom: 0;
  }

  &#videos &__item {
    min-height: auto;
  }
  &__galery {
    margin-top: 70px;
    margin-bottom: 68px;
  }
  &__galery:after {
    content: "";
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #dbdde0;
  }
  &__img {
    width: 100%;
    height: 330px;
    max-height: 330px;
    overflow: hidden;
    filter: grayscale(100%);
    &:hover {
      filter: grayscale(0%);
    }
  }
  &__item {
    width: 565px;
    font-size: 0;
    min-height: 520px;
    overflow: hidden;
    &:first-child{
      padding-left: 0;
    }
  }
  &__wiev {
    display: none;
    padding-top: 15px;
    padding-bottom: 10px;
    color: #818896;
    span {
      font-size: 11px;
      vertical-align: bottom;
      display: inline-block;
      padding-bottom: 4px;  
      padding-left: 5px;  
    }
  }
  &__title,
  &__square,
  &__material {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 32px;
    color: #333;
    padding-right: 30px;
  }
  &__title {
    margin-top: 15px;
  }
  &__nav {
    padding: 0;
    font-size: 0;
    list-style: none;
    float: left;
    height: 69px;
    li {
      list-style: none;      
    }
  }
  &__link {
    font-size: 25px;
    width: 53px;
    height: 53px;
    margin-top: 12px;
    display: inline-block;
    margin-right: 7px;
    display: block;
    text-decoration: none;
    color: #83858b;
    background: #fff;
    text-align: center;
    line-height: 53px;
    &:hover,
    &:active {
      transition: .5s;
      background: #e458478c;
      color: #fff;
    }

  }
  &__bullet {
    text-align: center;
    border-radius: 0;
    opacity: 1;
    width: auto;
    background:none;
    &.swiper-pagination-bullet-active {
      background: none;
      a {
        background: #e45847!important;
        color: #fff;
      }
    }
  }
  &__btn {
    display: inline-block;
    float: right;
    line-height: 69px;
    text-decoration: none;
    color: #fff;
    background: #e45847;
    padding: 0 30px;
    clear: right;
  }

  &__images {
    display: none;
  }
}

.popup {
  position: relative;
  width: 80%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0 auto;
  opacity: 1;
  z-index: 10000;

  &.video {
    height: 80%;
  }

  .fotorama__wrap {
      margin: 0 auto;
  }

  &.video  &__gallery {
      width: auto;
      height: 100%;
  }

  &__overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('/static/img/overlay.png') repeat;
    z-index: 10000;
    display: none;
  }

  &__gallery {
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.whatdo {
  padding-top: 127px;
  padding-bottom: 128px;
  &__item {
    position: relative;
    float: left;
    margin-right: 20px;
    margin-top: 27px;
    width: 376px;
    height: 250px;
    padding: 50px;
    padding-right: 30px;
    box-sizing: border-box;
    background: #f2f2f2;
    position: relative;
    z-index: 10;
    h3 {
      position: relative;
      margin-top: 10px;
      margin-bottom: 5px;
      font-size: 24px;
      z-index: 100;
    }
    a {
      color: #b2b6be;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
    }
    &:after {
      position: absolute;
      content: "";
      bottom: 20px;
      right: 20px;
      font-size: 165px;
      color: #fff;
      z-index: 50;
      font-weight: bold;
    }
    &-1:after {
      content: "1";
    }
    &-2:after {
      content: "2";
    }
    &-3:after {
      content: "3";
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.contacts {
  padding-top: 125px;
  padding-bottom: 120px;
  text-align: center;
  position: relative;
  background: #f2f2f2;
  .wrapper {
    position: relative;
  }
  &__item {
    box-sizing: border-box;
    width: 370px;
    height: 158px;
    margin-bottom: 150px;
    float: left;
    position: relative;
    margin-right: 30px;
    border: 2px solid #e45847;
    padding-top: 40px;
    padding-bottom: 60px;
    img {
      position: absolute;
      top: -45px;
      left: 143px;
      width: 45px;
      height: 45px;
      border: 17.5px solid #f2f2f2;
    }
    &:last-child {
      margin-right: 0;
    }
    &s {
      padding-bottom: 200px;
    }
  }
  &__title {
    font-size: 25px;
    text-transform: capitalize;
    font-weight: bold;
  }
  &__tel {
    color: #818896;
    font-weight: bold;
    margin-top: 5px;
  }
  &__order {
    width: 100%;
    padding: 0;
    padding-top: 60px;
    padding-bottom: 110px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -230px;
    .title__header {
      margin: 0;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 55px;
    }
  }
  .title__block {
    margin: 0 auto;
    margin-bottom: 94px;
  }
  input[name="captcha"]{
      padding: 0;
      font-size: 13px;
      margin-right: 0 !important;
      text-align: center;
  }
  input {
    line-height: 70px;
    width: 17%;
    border: 0;
    padding: 0;
    margin-right: 30px;
    background: #f2f2f2;
    color: #818896;
    font-size: 20px !important;
    font-weight: bold;
    padding-left: 30px;
    box-sizing: border-box;
    &:last-child {
      margin-right: 0;
    }
  }
  .form {
    &__send {
      display: inline-block;
      border-radius: 10px;
      line-height: 70px;
      background: #e45847;
      width: auto;
      color: #fff;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 22px;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        background: #9a2719 ;
      }
    }
    &__message {
      display: block;
      text-align: left;
      margin-left: 8%;
      margin-top: 10px;
      font-size: 18px;
      &.responsive {
        display: none;
        margin-bottom: 10px;
      }
      .success {
        color: green;
      }
      .error {
        color: red;
      }
    }
  }
}

.footer {
  padding-top: 180px;
  padding-bottom: 36px;
  background: #333945;
  &__left {
    float: left;
    p {
      text-transform: capitalize;
      font-weight: bold;
      color: #fff;
    }
  }
  &__right {
    float: right;
    padding-top: 37px;
  }
  &__list {
    text-decoration: none;
    font-size: 0;
    padding: 0;
    & li {
      float: right;
      margin-right: 8px;
    }
  }
  &__desc {
    border-top: 2px solid #2b313b;
    padding-top: 44px;
    margin-top: 68px;
    color: #99a0ad;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
  }

  .creator {
    width: 9%;
    vertical-align: top;
    text-align: right;
    box-sizing: border-box;
    display: inline-block;
  }

  .desc {
    width: 90%;
    box-sizing: border-box;
    display: inline-block;
  }
}
#my-menu {
  z-index: 999999!important;
}
/*==================================
=            responsive            =
==================================*/

@media screen and (max-width: 1200px) and (min-width: 993px) {
  .language-switcher {
    top: 36px;
    right: 170px;
  }
  #mmenu-icon {
    display: block; 
  }

  .wrapper {
    width: 970px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  
  .nav {
    &__right {
      width: auto;
    }
    &__list {
      display: none;
      width: 70%;
    }
    &__tel {
      display: none;
      width: 210px;
    }
    &__tel a {
      width: 145px;
    }
  }

  .our__mission {
    margin: 0;
    &-left,
    &-right {
      width: 50%;
    }
    &-desc {
      left: 40px;
      margin-right: 20px;
    }
  }
  .project {
    &__img {
      width: 100%;
    }
    &__item {
      padding-left: 0;
      &:first-child {
        margin-left: 0;
      }
    }   
  }
  .whatdo {
    &__item {
      width: 32%;
      margin-right: 2%;
    }
  }

  .contacts {
    &__item {
      width: 32%;
      margin-right: 2%;
      padding: 10px;
      padding-top: 40px;
      height: 150px;
    }
    img {
      left: 50%;
      margin-left: -40px;
    }
  }

}
@media screen and (max-width: 992px) and (min-width: 570px) {
  .on-top {
    display: none;
  }
  .wrapper {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  .language-switcher {
    right: 120px;
    top: 37px;
  }
  
  #mmenu-icon {
    display: block;
    right: 50px;  
  }

  .nav {

    &__right {
      width: auto;
    }
    &__list {
      display: none;
      width: 70%;
    }
    &__tel {
      display: none;
      width: 210px;
    }
    &__tel a {
      width: 145px;
    }
  }

  .our__mission {
    margin: 0;
    &-img {
      width: 50%;
    }
    &-left {
      text-align: center;
      margin-bottom: 10%;
    }
    &-left,
    &-right {
      width: 100%;
    }
    &-desc {
      left: 0;
      text-align: center;
      margin-left: 10%;
      margin-right: 10%;
      box-sizing: border-box;
    }
  }
  .project {
    &__img {
      width: 100%;
    }
    &__item {
      width: 100%;
      padding-left: 0;
      &:first-child {
        margin-left: 0;
      }
    }
    
  }
  .whatdo {
    text-align: center;
    .title__block {
      text-align: center;
      display: inline-block;
    }
    &__item {
      width: 90%;
      margin: 5%;
      margin-bottom: 0;
    }
  }

  .contacts {
    &__item {
      width: 90%;
      margin: 5%;
      margin-bottom: 10%;
      padding: 10px;
      padding-top: 40px;
      height: 150px;
    }
    &__items {
      padding-bottom: 0;
    }
    &__order {
      position: static;
    }
    img {
      left: 50%;
      margin-left: -40px;
    }
    input {
      display: block;
      width: 80%;
      margin-left: 10%;
      margin-bottom: 20px;
      &[type="submit"] {
        width: 80%;
      }
    }
    .form {
      &__message {
        display: none;
        &.responsive {
          display: block;
          margin-left: 10%;
        }
      }
    }
  }
  .footer {
    padding-top: 70px;
    &__left,
    &__right {
      width: 100%;
      text-align: center;
      float: none;
      margin: 0 auto;
    }
    &__list {
      width: 210;
      text-align: center;
      display: inline-block;
    }
    &__list li {
      margin-right: 30px;
      &:first-child {
        margin-right: 0;
      }
    }
  }
}

/*Accordion*/
.hide {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
}


.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  // width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion {
  // width: 400px;
  // border: 1px solid #e0e0e0;
}

.accordion-item {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}
.accordion-item:last-child {
  border-bottom: none;
}

.accordion-label {
  padding: 20px 0 20px 30px;
  width: 100%;
  display: block;
  font-size: 18px;
}
.accordion-label:hover {
  cursor: pointer;
}
.accordion-label:before {
  content: '';
  position: absolute;
  height: 1px;
  width: 6px;
  top: 11px;
  zoom: 2;
  left: 0px;
  display: inline-block;
  border-left: 5px solid #999;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
input[type=checkbox]:checked ~ .accordion-label:before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.accordion-child {
  margin: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  opacity: 0;
  height: 0;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: center top;
          transform-origin: center top;
}
input[type=checkbox]:checked ~ .accordion-child {
  border: 1px solid #e0e0e0;
  margin: 0 -20px 15px -20px;
  background: #fff;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.16);
  padding: 30px;
  height: auto;
  opacity: 1;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.faq li{
  list-style:none;
}



//███╗   ███╗ ██████╗ ██████╗ ██╗██╗     ███████╗
//████╗ ████║██╔═══██╗██╔══██╗██║██║     ██╔════╝
//██╔████╔██║██║   ██║██████╔╝██║██║     █████╗
//██║╚██╔╝██║██║   ██║██╔══██╗██║██║     ██╔══╝
//██║ ╚═╝ ██║╚██████╔╝██████╔╝██║███████╗███████╗
//╚═╝     ╚═╝ ╚═════╝ ╚═════╝ ╚═╝╚══════╝╚══════╝
//
@media all and (max-width: 569px){
  .hero-video{
    height: 200px;
    object-fit: cover;
  }
  .gallery__project{
    height:200px;
    object-fit: cover;
  }
  .on-top {
    display: none;
  }
  .project {
    padding-top: 40px;
    padding-bottom: 40px;
    &__galery {
      margin-bottom: 0;
      margin-top: 0;
    }

    &__img {
      object-fit: contain !important;
      max-height: 170px;
    }
  }
  .gallery {
    height: 41vw;
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position-y: center;
    &__project {
      // padding: 10% !important;
    }
    &__project .square {
      display: none;
      // display: inline-block;
      // float: left;
    }
    &__project > p {
      font-size: 9px;
      line-height: 2em;
      display: block;
      margin: 0 !important;
    }
    &__title {
      font-size: 20px;
      line-height: 20px;
    }
    &__btn {
      font-size: 10px;
      line-height: 31px;
    }
    br{
      display: none;
    }
  }
  .wrapper {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .language-switcher {
    right: 70px;
    top: 37px;
  }
  #mmenu-icon {
    display: block;
    right: 0;
  }
  .popup {
    width: 90%!important;

    &.video {
      display: table !important;
    }
  }

  .popup.video .popup__gallery {
    display: table-cell;
    vertical-align: middle;
    height: auto;

    iframe{
        height: auto !important;
    }
  }
  .fotorama__stage {
    width: 100%!important;
  }
  .nav {
    width: 70%;
    &__logo img {
      width: 70%;
    }
    &__right {
      width: auto;
    }
    &__list {
      display: none;
      width: 70%;
    }
    &__tel {
      display: none;
      width: 210px;
    }
    &__tel a {
      width: 145px;
    }
  }

  .whatdo__item:after {
    bottom: 110px;
    font-size: 80px;
  }
  .footer__left img {
    width: 100%;
  }
  .title__header {
    font-size: 2.5em!important;
    line-height: 40px;
  }

  .our__mission {
    margin: 0;
    padding-top: 20px;
    &-img {
      width: 70%;
      margin-bottom: -200px;
      z-index: 1;
      position: relative;
    }
    &-left {
      text-align: center;
      margin-bottom: 10%;
    }
    &-left,
    &-right {
      width: 100%;
    }
    &-desc {
      position: relative;
      z-index: 1;
      margin: 0;
      padding: 15px;
      text-align: center;
      box-sizing: border-box;
      min-height: 203px;
      left: 0;
    }
  }
  .project {
    &#videos {
      .title__block {
        margin-bottom: 0;
      }
    }
    &__img {
      width: 100%;
      object-fit: cover;
    }
    &__item {
      width: 100%;
      padding-left: 0;
      &:first-child {
        margin-left: 0;
      }
    }
    &__btn {
      float:inherit!important;
      
      padding:0!important;
      width: 100%;
      margin: auto;
      text-align: center;
      margin-top: 70px;
    }
    &__bottom {
      overflow: hidden;
    }
    &__nav {
      width: 400px;
    }
    &__link {
      width: 50px;
    }
    
  }
  .whatdo {
    text-align: center;
    .title__block {
      text-align: center;
      display: inline-block;
    }
    &__item {
      width: 90%;
      margin: 5%;
      margin-bottom: 0;
    }
  }

  .contacts {
    &__item {
      width: 90%;
      margin: 5%;
      margin-bottom: 10%;
      padding: 10px;
      padding-top: 40px;
      height: 150px;
    }
    &__item img {
      left: 50%;
      margin-left: -40px;
    }
    &__items {
      padding-bottom: 0;
    }
    &__order {
      position: static;
    }
    input {
      display: block;
      width: 80%;
      margin-left: 10%;
      margin-bottom: 20px;
      &[type="submit"] {
        width: 80%;
      }
    }
    input[name="captcha"] {
      width: 80%!important;
    }
    .form {
      &__message {
        display: none;
        &.responsive {
          display: block;
          margin-left: 9.5%;
        }
      }
    }
  }
  .footer {
    padding-top: 70px;
    &__left,
    &__right {
      width: 100%;
      text-align: center;
      float: none;
      margin: 0 auto;
    }
    &__list {
      width: 210;
      text-align: center;
      display: inline-block;
    }
    &__list li {
      margin-right: 30px;
      &:first-child {
        margin-right: 0;
      }
    }
    .creator {
      width: 21%;
    }
    .desc {
      width: 75%;
    }
  }
}
/*=====  End of responsive  ======*/

.author {
  color: #929aa6;
  text-decoration: none;
}

.captcha {
 height: 70px;
 vertical-align: bottom;
}